.header {
    background-color: rgb(63, 63, 226);
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_search {}

.input_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
}

.input_search {
    padding: 10px 10px 10px 40px;;
    width: 100%;
    outline: none;
}

.btn_search {
    border: none;
    position: absolute;
    left: 5px;
    color: #888;
    background-color: transparent;
    font-size: 18px;
    display: flex;
    cursor: pointer;
}