.loadmore {
    background-color: rgb(63, 63, 226);
    color: white;
    font-size: 20px;
    padding: 10px 40px;
    max-width: 200px;
    height: 60px;
    border: none;
    border-radius: 5px;
    transition: background-color 250ms linear;
}

.loadmore:focus,
.loadmore:hover {
    border: gray;
    background-color: rgb(114, 114, 193);
}